{% load static %}
<html>
  <head>
    <title>Ultimate4Girls</title>
    <link rel="stylesheet" href="{% static 'postlist.css' %}">
  </head>
  <body>
    <div id="header">
      <h1>Was ist Ultimate4Girls?</h1>
    </div>
    <div id="content">
      <p>Ultimate4Girls bietet Ultimate Frisbee Trainings für Mädchen an. </p>
      <p>Ultimate Frisbee ist eine schnelle Sportart, bei der Fairplay gross geschrieben wird.</p>
    </div>
    <div id="header_2">
      <h3>Was lerne ich im Training?</h3>
    </div>
    <div id="content">
      <p>In diesem Training lernst du Ultimate Frisbee spielen. Du lernst auch andere Mädchen kennen.</p>
    </div>
    <div id="header_2">
      <h3>Wo finden die Trainings statt?</h3>
    </div>
    <div id="content">
      <p>In folgenden Städten finden immmer wieder Trainings statt:</p>
      <ul>
        <p>Bern</p>
        <p>Zürich</p>
      </ul>
    </div>
